.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond(tab-land) {
                margin-bottom: $gutter-vertical-medium;
            };
        }

        @include respond(tab-land) {
            margin-right: 0 !important;
            width: 100% !important;
            padding: 0 5rem;
        };
    }

    @include respond(tab-land) {
        // text-align: center;
        max-width: 80rem
    };

    .col-1-of-2 {
        width: calc((#{$grid-width} - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((#{$grid-width} - #{$gutter-horizontal} * 2) / 3);
    }

    .col-2-of-3 {
        width: calc(((#{$grid-width} - #{$gutter-horizontal} * 2) / 3) * 2 + #{$gutter-horizontal});
    }

    .col-1-of-4 {
        width: calc((#{$grid-width} - (#{$gutter-horizontal} * 3)) / 4);
    }

    .col-2-of-4 {
        width: calc(((#{$grid-width} - (#{$gutter-horizontal} * 3)) / 4) * 2 + #{$gutter-horizontal});
    }

    .col-3-of-4 {
        width: calc(((#{$grid-width} - (#{$gutter-horizontal} * 3)) / 4) * 3 + #{$gutter-horizontal} * 2);
    }

}